/* Scope styles to avoid global conflicts */
.my-app-menu.ant-menu-inline .ant-menu-item{
    font-size: 16px;
    /* margin-top: 10px; */
    border-radius: 8px 0 0 8px; 
    /* padding-left: 16px !important; */
    margin-left: 8px;
}

/* Inactive/Default state */
.my-app-menu .ant-menu-item {
  /* padding: 10px; */
  color: #f7f7f7;
}

/* Hover state */
.my-app-menu .ant-menu-item:hover {
  color: #6200ff !important; /* !important sometimes needed */
  background-color: #f5f5f5 !important;
}

/* Active/Selected state */
.my-app-menu .ant-menu-item-selected {
  color: #6200ff !important;
  background-color: #f5f5f5 !important;
  /* font-weight: bold; */
}

.my-app-menu .ant-menu-submenu .ant-menu-submenu-title{
/* padding: 10px; */
  color: #f7f7f7;
  font-size: 16px;
}


.my-app-menu > .ant-menu-item{
padding: 20px !important;
}